$primary-color: #c8d8e4;
$secondary-color: #2b6777;
$primary-text-color: white;
$secondary-text-color: #2b6777;
$controls-color: #52ab98;


p {
  margin: 0em;
  padding: 1em;
}
.App {
  text-align: center;
}


